<nav>
    <a href="/">Home</a>
    <a href="/beginner">Beginner</a>
    <a href="/intermediate">Intermediate</a>
    <a href="/advanced">Advanced</a>
    <a href="/lead">Lead/Architect</a>
    <a href="/security">Security</a>
    <a href="/machine-coding">Machine Coding</a>
</nav>
